/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*:before,
*:after{
-webkit-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body{
background-color: #F0FFFF;
font-family: Georgia;
font-size: 1em;
padding:1%;
}
header{
position:relative;
width:900px;
height:120px;
margin:3% auto 3% auto;
padding: 1%;
border: 5px solid black;
border-radius: 20px;
font-family: Georgia;
text-align: center;
background-color: #F2F2F1;
}
#Employment{
Position: relative;
width: 900px;
margin:3% auto 3% auto;
border: 5px solid black;
padding: 1%;
text-align: left;
background-color: #FFF8DC;
border-radius: 20px;
font-family: Georgia;
font-size: 1em;
}
#Education{
Position: relative;
width: 900px;
margin:3% auto 3% auto;
border: 5px solid black;
padding: 1%;
text-align: left;
background-color:#F5F5DC;
border-radius: 20px;
font-family: Georgia;
font-size: 1em;
}
#Interests{
Position: relative;
width: 900px;
margin:3% auto 3% auto;
border: 5px solid black;
padding: 1%;
background-color: #FFFFFF;
border-radius: 20px;
font-family: Georgia;
font-size: 1em;
text-align:center;
}
.box1{
display:block;
float: left;
margin: 5px 25px 0px 0px;
Padding-right: 20px;
}
.box2{
display: block;
float: left;
margin: 5px 25px 5px 0px;
border-left: 5px solid black;
text-align: center;
padding: 0px 20px 0px 40px;
}
.box3{
display:block;
Float:left;
padding: 0px 20px 0px 20px;
margin: 5px 25px 5px 0px;
border-left: 5px solid black;
text-align: center;
}
.box4{
display:inline-block;
margin: 5px 25px 0px 0px;
Padding-right: 20px;
}
.box5{
display:inline-block;
margin: 5px 25px 5px 0px;
border-left: 5px solid black;
padding: 0px 20px 0px 40px;
}
.box6{
display:inline-block;
padding: 0px 20px 0px 40px;
margin: 5px 25px 5px 0px;
border-left: 5px solid black;
}
.subbox{
border-bottom:1px dashed black;
margin: 10px 20px 10px 20px;
padding-bottom: 5px;
}
.subbox2{
margin: 10px 20px 10px 20px;
padding-bottom: 5px;
}
a:link{
Color:#125EEA;
}
a:hover{
text-style: Bold;
font-size: 1.1em;
/* text-decoration:no underline; how do I make it bold but without the underline>*/
}
a: visited{
color:#12BDE8;
}
h1{
text-align:center;
font-weight: bold;
font-size:2.5em;
font-family: Georgia;
border-bottom: 1px solid black;
margin-bottom: 15px;
}
h2{
text-align:center;
font-weight: bold;
font-size:1.5em;
padding:0px 0px 10px 0px;
border-bottom: 1px solid black;
margin-bottom: 15px;
}
h4{
font-size:1.2em;
}
#Education h4{
font-size:1.2em;
padding-bottom: 10px;
}
#Education li{
padding:10px 0px 5px 10px;
list-style-type: dot;
font-size:1.1em;
}
h5{
font-size:1.1em;
font-style: italic;
clear:left;
margin-left: 10px;
}
li{
padding: 3px;}
.subbox2 ul li{
list-style:inside;
list-style-type: circle;
padding-left: 10%;
}
header p{
padding-left: 10%;
font-size:1.2em;
}

